:root {
    --border-size: 10px;
}

.container {
    border: solid darkblue;
    border-width: var(--border-size);
    & * {
        border: solid red;
        border-width: var(--border-size);
    }
    /* .container div.item1 */
    .item1{
        margin-top: 4px;
        margin-left: 4px;
    }
    /* .container div.item2  */
    .item2{
        border-color: blueviolet;
        margin: 14px 50px;
        padding: 20px;
        background-color: rgb(198, 219, 238);
    }
}