p {
    text-align: justify;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: none;
    opacity: 0;
    transition: all 0.4s linear;

    &::first-letter{
        color: red;
        font-size: 50px;
        float: left;
        line-height: 40px;
        padding-right: 10px;
    }
    &::first-line{
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: blueviolet;
    }

    &::selection{
        color: black;
        background-color: yellow;
    }

    &:target{
        background-color: blueviolet;
        display: block;
        opacity: 1;
        pointer-events: none;
    }
}

/* #second_one{
    transform: translateY(-100%);
    z-index: 0;
} */

/* p + p {
    margin-top: 1000px;
} */